:root {
  --border-grey: 1px solid grey;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 100vh;
}

.main-container {
  height: 100%;
  display: flex;
  margin: 5px;
}

.page-section {
  height: 100%;
  width: 50%;
  overflow-y: auto;
}

.dynamic-from {
  border: var(--border-grey);
  padding: 10px;
}

h2 {
  padding: 10px;
}

.render-form {
  border: var(--border-grey);
  margin-left: 5px;
}

.form-control{
  display: flex;
  width: 100%;
  padding: 7px;
}

.form-control label{
  width: 40%;
  padding-right: 10px;
}

.form-control select {
  width: 30%;
}

.form-control input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 30%;
  padding: 0 10px;
}

.form-control input:focus{
    outline: none;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  visibility: hidden;
  width: 30%;
  margin-left: 15px;
}

.form-control.error small {
  visibility: visible;
}

button {
    padding: 5px;
    margin-left: 20%;
    width: 100px;
    margin-top: 15px;
}

.hidden {
  display: none;
}

p {
  margin: 7px;
  padding: 10px;
  border: var(--border-grey);
}

.margin-10 {
  margin: 10px;
}
